[submodule "katacoda-scenarios"]
	path = katacoda-scenarios
	url = https://github.com/devonfw-tutorials/katacoda-scenarios.git
	branch = master
	shallow = true
[submodule "devonfw-guide"]
	path = devonfw-guide
	url = https://github.com/devonfw/devonfw-guide.git
	branch = master
	shallow = true
[submodule "wiki-tutorials"]
	path = wiki-tutorials
	url = https://github.com/devonfw-tutorials/wiki-tutorials.git
	branch = main
	shallow = true
[submodule "solutions"]
	path = solutions
	url = https://github.com/devonfw/solutions
	branch = master
	shallow = true
[submodule "docs/modules/ROOT/pages/cicdgen"]
	path = docs/modules/ROOT/pages/cicdgen
	url = https://github.com/MarvDan/cicdgen.wiki.git
[submodule "docs/modules/ROOT/pages/cobigen"]
	path = docs/modules/ROOT/pages/cobigen
	url = https://github.com/MarvDan/cobigen.wiki.git
[submodule "docs/modules/ROOT/pages/devon4j"]
	path = docs/modules/ROOT/pages/devon4j
	url = https://github.com/MarvDan/devon4j.wiki.git
[submodule "docs/modules/ROOT/pages/my-thai-star.wiki"]
	path = docs/modules/ROOT/pages/my-thai-star.wiki
	url = https://github.com/devonfw/my-thai-star.wiki.git
